
@import url('https://fonts.googleapis.com/css2?family=Julee&family=Lato:ital,wght@1,100&family=Oswald:wght@200&family=Raleway:wght@800&family=Roboto:wght@100&family=Shadows+Into+Light&display=swap');

.juleeFont {
  font-family: 'Julee', cursive;
}

#submitBtn:active {
  box-shadow: 0 0 10px blue;
}

#submitBtn:hover {
  background-color: #2E67C3;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 48px solid #FF5C00;
  border-color: #FF5C00 transparent #FF5C00 transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
